<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato|Libre+Barcode+39+Text|Open+Sans+Condensed:300" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <nav class="login-bar">
    <% if current_user %>
       Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
     <% else %>
       <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
    <% end %>
  </nav>

    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do  %>
        <% end  %>

        <nav class="main-nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
          | <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>

        <nav class="category">
          <ul>
           Socials:
            <li><a href="https://twitter.com/mitchell_sean35">Twitter</a></li>
           | <li><a href="https://www.linkedin.com/in/mitch-mele-823643b5/"> Linkedin</a></li>
           |<li><a href="https://github.com/msmele345">Github</a></li>
          </ul>
        </nav>

      </div>
    </div>

    <div id="main_content">
      <h2 id="main-header">The Jr Dev Files</h2>
      <div id="header">
      <% if current_user %>
        <div class="buttons">
          <button class="button"><%= link_to "New Post", new_post_path %></button>
        </div>
        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>

      <% end  %>
    <%= yield %>
    </div>
  </body>
</html>
